body{
    margin: 0;
}
#main {
    margin: 0 auto;
    width: 550px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#user-input {
    background-color: #6943FF;
    height: 240px;
    display: flex;
    flex-direction: column;
}
h1 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}
input {
    width: 115px;
    height: 80px;
    margin: 0 auto;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: white;
    background-color: #6943FF;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

button {
    width: 120px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    color: #3D3D3D;
    background-color: white;
    border-style: none;
    border-radius: 5px;
}
#display {
    border: 2px solid #F4F4F4;
    background-color: #F4F4F4;
}
.unit-section{
    width: 500px;
    height: 110px;
    margin: 0 auto;
    background-color: white;
    font-size: 14px;
    color: #3D3D3D;
    padding-top: 30px;
    /* border: 2px solid red; */
    margin-top: 20px;
}
